In [108]:
import numpy as np
import pandas as pd
import glob
from scipy import stats

In [37]:
path = r'E:\University\M.Sc\Term 2\Principles of Cognitive Science\Uni\HWs\HW1\task1\data' # use your path
all_files = glob.glob(path + "/*.csv")

In [38]:
len(all_files)

10

In [63]:
li = []

for i,filename in enumerate(all_files):
    if i not in [0,4,7,8]:
        df = pd.read_csv(filename, index_col=None, header=0)
        li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [64]:
frame.head()

,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,textbox.started,textbox.stopped,key_resp_2.keys,key_resp_2.rt,key_resp_2.started,key_resp_2.stopped,...,key_resp.rt,session,exp_id,age,sex(M or F),date,expName,psychopyVersion,frameRate,Unnamed: 51
0,NaN,NaN,NaN,NaN,19.844086,None,f,2.330497,19.844086,None,...,NaN,2,1,23,M,2021_Aug_02_1239,Social Reinforcement Learning,2021.1.4,59.958263,NaN
1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,1,23,M,2021_Aug_02_1239,Social Reinforcement Learning,2021.1.4,59.958263,NaN
2,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.658541,2,1,23,M,2021_Aug_02_1239,Social Reinforcement Learning,2021.1.4,59.958263,NaN
3,2.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.589978,2,1,23,M,2021_Aug_02_1239,Social Reinforcement Learning,2021.1.4,59.958263,NaN
4,3.0,0.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.834095,2,1,23,M,2021_Aug_02_1239,Social Reinforcement Learning,2021.1.4,59.958263,NaN

In [65]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   trials.thisRepN     600 non-null    float64
 1   trials.thisTrialN   600 non-null    float64
 2   trials.thisN        600 non-null    float64
 3   trials.thisIndex    600 non-null    float64
 4   textbox.started     6 non-null      float64
 5   textbox.stopped     6 non-null      object
 6   key_resp_2.keys     6 non-null      object
 7   key_resp_2.rt       6 non-null      float64
 8   key_resp_2.started  6 non-null      float64
 9   key_resp_2.stopped  6 non-null      object
 10  block_type          600 non-null    object
 11  learning_type       600 non-null    object
 12  trial_type          600 non-null    object
 13  image_path          600 non-null    object
 14  x_image             600 non-null    float64
 15  trial               600 non-null    float64
 16  person.started      600 non-null    float64
 17  person.stopped      600 non-null    object
 18  text.started        600 non-null    float64
 19  text.stopped        600 non-null    float64
 20  text_2.started      600 non-null    float64
 21  text_2.stopped      600 non-null    float64
 22  key_resp.keys       600 non-null    object
 23  key_resp.started    600 non-null    float64
 24  key_resp.stopped    600 non-null    object
 25  text_4.started      600 non-null    object
 26  text_4.stopped      600 non-null    object
 27  line.started        600 non-null    float64
 28  line.stopped        600 non-null    object
 29  text_5.started      600 non-null    float64
 30  text_5.stopped      600 non-null    object
 31  reward_a            600 non-null    float64
 32  reward_d            600 non-null    float64
 33  reward              600 non-null    object
 34  image.started       600 non-null    float64
 35  image.stopped       600 non-null    object
 36  text_3.started      600 non-null    float64
 37  text_3.stopped      600 non-null    object
 38  line_2.started      600 non-null    float64
 39  line_2.stopped      600 non-null    object
 40  text_6.started      600 non-null    float64
 41  text_6.stopped      600 non-null    object
 42  key_resp.rt         360 non-null    float64
 43  session             606 non-null    int64
 44  exp_id              606 non-null    int64
 45  age                 606 non-null    int64
 46  sex(M or F)         606 non-null    object
 47  date                606 non-null    object
 48  expName             606 non-null    object
 49  psychopyVersion     606 non-null    object
 50  frameRate           606 non-null    float64
 51  Unnamed: 51         0 non-null      float64
dtypes: float64(26), int64(3), object(23)
memory usage: 246.3+ KB

In [66]:
frame.describe()

,trials.thisRepN,trials.thisTrialN,trials.thisN,trials.thisIndex,textbox.started,key_resp_2.rt,key_resp_2.started,x_image,trial,person.started,...,image.started,text_3.started,line_2.started,text_6.started,key_resp.rt,session,exp_id,age,frameRate,Unnamed: 51
count,600.000000,600.0,600.000000,600.0,6.000000,6.000000,6.000000,600.000000,600.000000,600.000000,...,600.000000,600.000000,600.000000,600.000000,360.000000,606.000000,606.000000,606.000000,606.000000,0.0
mean,49.500000,0.0,49.500000,0.0,24.699115,25.939553,24.699115,0.100000,50.500000,356.198344,...,359.864062,360.352231,359.864062,359.864062,1.128856,2.666667,1.833333,36.666667,60.056560,NaN
std,28.890155,0.0,28.890155,0.0,11.694608,58.275515,11.694608,0.490307,28.890155,187.194061,...,187.232410,187.232486,187.232410,187.232410,1.136359,0.943588,0.687752,15.436389,0.479819,NaN
min,0.000000,0.0,0.000000,0.0,16.466908,0.419220,16.466908,-0.500000,1.000000,20.175163,...,24.212067,24.689181,24.212067,24.212067,0.021082,1.000000,1.000000,18.000000,59.443758,NaN
25%,24.750000,0.0,24.750000,0.0,19.018116,0.603967,19.018116,-0.500000,25.750000,200.519421,...,204.546925,205.035024,204.546925,204.546925,0.524435,2.000000,1.000000,23.000000,59.832693,NaN
50%,49.500000,0.0,49.500000,0.0,20.755280,1.580115,20.755280,0.500000,50.500000,354.512683,...,358.320176,358.817058,358.320176,358.320176,0.746171,3.000000,2.000000,37.500000,59.981573,NaN
75%,74.250000,0.0,74.250000,0.0,22.971013,5.633718,22.971013,0.500000,75.250000,510.221316,...,513.883174,514.374662,513.883174,513.883174,1.352965,3.000000,2.000000,52.000000,60.073239,NaN
max,99.000000,0.0,99.000000,0.0,48.068572,144.794367,48.068572,0.500000,100.000000,794.872207,...,797.723630,798.218774,797.723630,797.723630,8.043534,4.000000,3.000000,52.000000,61.026523,NaN

In [90]:
frame.dropna(subset = ["trial"], inplace= True)

In [91]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 1 to 605
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   block_type       600 non-null    object
 1   learning_type    600 non-null    object
 2   trial_type       600 non-null    object
 3   image_path       600 non-null    object
 4   x_image          600 non-null    float64
 5   trial            600 non-null    float64
 6   key_resp.keys    600 non-null    object
 7   reward_a         600 non-null    float64
 8   reward_d         600 non-null    float64
 9   reward           600 non-null    object
 10  session          600 non-null    int64
 11  exp_id           600 non-null    int64
 12  age              600 non-null    int64
 13  sex(M or F)      600 non-null    object
 14  date             600 non-null    object
 15  expName          600 non-null    object
 16  psychopyVersion  600 non-null    object
 17  frameRate        600 non-null    float64
 18  best_action      600 non-null    object
dtypes: float64(5), int64(3), object(11)
memory usage: 93.8+ KB

In [69]:
frame.drop('trials.thisRepN', inplace=True, axis=1)
frame.drop('trials.thisTrialN', inplace=True, axis=1)
frame.drop('trials.thisN', inplace=True, axis=1)
frame.drop('trials.thisIndex', inplace=True, axis=1)
frame.drop('textbox.started', inplace=True, axis=1)
frame.drop('textbox.stopped', inplace=True, axis=1)
frame.drop('key_resp_2.keys', inplace=True, axis=1)
frame.drop('key_resp_2.rt', inplace=True, axis=1)
frame.drop('key_resp_2.started', inplace=True, axis=1)
frame.drop('key_resp_2.stopped', inplace=True, axis=1)

In [72]:
frame.drop(frame.columns[6:12], inplace=True, axis=1)

In [74]:
frame.drop(frame.columns[7:15], inplace=True, axis=1)

In [75]:
frame.drop(frame.columns[10:19], inplace=True, axis=1)

In [77]:
#frame.drop('text_5.stopped', inplace=True, axis=1)
frame.drop('Unnamed: 51', inplace=True, axis=1)

In [78]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 1 to 605
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   block_type       600 non-null    object
 1   learning_type    600 non-null    object
 2   trial_type       600 non-null    object
 3   image_path       600 non-null    object
 4   x_image          600 non-null    float64
 5   trial            600 non-null    float64
 6   key_resp.keys    600 non-null    object
 7   reward_a         600 non-null    float64
 8   reward_d         600 non-null    float64
 9   reward           600 non-null    object
 10  session          600 non-null    int64
 11  exp_id           600 non-null    int64
 12  age              600 non-null    int64
 13  sex(M or F)      600 non-null    object
 14  date             600 non-null    object
 15  expName          600 non-null    object
 16  psychopyVersion  600 non-null    object
 17  frameRate        600 non-null    float64
dtypes: float64(5), int64(3), object(10)
memory usage: 89.1+ KB

In [61]:
np.mean(frame.iloc[:,11])

36.666666666666664

In [60]:
np.std(frame.iloc[:,11])

15.423647068345641

In [80]:
frame['best_action'] = np.where(frame['reward_a'] > frame['reward_d'], 'a', 'd')

In [82]:
frame.tail()

,block_type,learning_type,trial_type,image_path,x_image,trial,key_resp.keys,reward_a,reward_d,reward,session,exp_id,age,sex(M or F),date,expName,psychopyVersion,frameRate,best_action
601,Social,SD,Private,images/Private_trial.png,0.5,96.0,d,0.3,0.7,-1,3,3,18,M,2021_Aug_02_1249,Social Reinforcement Learning,2021.1.4,59.443758,d
602,Social,SD,Observational,images/Observational_trial.png,-0.5,97.0,None,0.3,0.7,?,3,3,18,M,2021_Aug_02_1249,Social Reinforcement Learning,2021.1.4,59.443758,d
603,Social,SD,Observational,images/Observational_trial.png,-0.5,98.0,None,0.3,0.7,?,3,3,18,M,2021_Aug_02_1249,Social Reinforcement Learning,2021.1.4,59.443758,d
604,Social,SD,Private,images/Private_trial.png,0.5,99.0,d,0.3,0.7,1,3,3,18,M,2021_Aug_02_1249,Social Reinforcement Learning,2021.1.4,59.443758,d
605,Social,SD,Private,images/Private_trial.png,0.5,100.0,d,0.3,0.7,1,3,3,18,M,2021_Aug_02_1249,Social Reinforcement Learning,2021.1.4,59.443758,d

In [93]:
new_frame = frame[frame["trial_type"] != "Observational"]

In [170]:
choose_best_action_id1 = np.array(list((new_frame["key_resp.keys"] == new_frame["best_action"]) & (new_frame["exp_id"] == 1)))
choose_best_action_id2 = np.array(list((new_frame["key_resp.keys"] == new_frame["best_action"]) & (new_frame["exp_id"] == 2)))
choose_best_action_id3 = np.array(list((new_frame["key_resp.keys"] == new_frame["best_action"]) & (new_frame["exp_id"] == 3)))

In [167]:
sum(new_frame["exp_id"] == 1)

120

In [171]:
choose_best_action = [sum(choose_best_action_id1) /sum(new_frame["exp_id"] == 1) ,
sum(choose_best_action_id2)/sum(new_frame["exp_id"] == 2),
sum(choose_best_action_id3)/sum(new_frame["exp_id"] == 3)]

In [172]:
choose_best_action

[0.8833333333333333, 0.7222222222222222, 0.9166666666666666]

In [174]:
np.mean(choose_best_action)

0.8407407407407407

In [175]:
stats.ttest_1samp(choose_best_action, 0.5)

Ttest_1sampResult(statistic=5.675661225975848, pvalue=0.029668659078689964)

In [184]:
choose_best_action_pl = np.array(list((new_frame["learning_type"] == "PL") & (new_frame["key_resp.keys"] == new_frame["best_action"])))
choose_best_action_sd = np.array(list((new_frame["learning_type"] == "SD") & (new_frame["key_resp.keys"] == new_frame["best_action"])))
choose_best_action_ud = np.array(list((new_frame["learning_type"] == "UD") & (new_frame["key_resp.keys"] == new_frame["best_action"])))

In [185]:
for i in range(len(choose_best_action_pl)):
    choose_best_action_pl[i] = int(choose_best_action_pl[i])
    choose_best_action_sd[i] = int(choose_best_action_sd[i])
    choose_best_action_ud[i] = int(choose_best_action_ud[i])

In [186]:
print(sum(choose_best_action_pl) / sum(new_frame["learning_type"] == "PL"),
sum(choose_best_action_sd)/sum(new_frame["learning_type"] == "SD"),
sum(choose_best_action_ud)/sum(new_frame["learning_type"] == "UD"))

0.8333333333333334 0.7833333333333333 0.8083333333333333

In [187]:
stats.ttest_ind(choose_best_action_pl,choose_best_action_sd)

Ttest_indResult(statistic=0.5033804632999691, pvalue=0.6148511954771608)

In [188]:
stats.ttest_ind(choose_best_action_pl,choose_best_action_ud)

Ttest_indResult(statistic=0.2504485308776652, pvalue=0.8023121494158766)

In [189]:
stats.ttest_ind(choose_best_action_ud,choose_best_action_sd)

Ttest_indResult(statistic=0.2529055152496081, pvalue=0.800413616226521)

In [149]:
reward_pl = list(frame[frame["learning_type"] == "PL"]["reward"])
reward_sd = list(frame[frame["learning_type"] == "SD"]["reward"])
reward_ud = list(frame[frame["learning_type"] == "UD"]["reward"])

In [126]:
reward_sd = list(filter(("?").__ne__, reward_sd))
reward_ud = list(filter(("?").__ne__, reward_ud))

In [128]:
for i in range(len(reward_pl)):
    reward_pl[i] = int(reward_pl[i])
    reward_sd[i] = int(reward_sd[i])
    reward_ud[i] = int(reward_ud[i])

In [130]:
sum(reward_sd)/sum(),np.mean(reward_pl),np.mean(reward_ud)

(0.11666666666666667, 0.3333333333333333, 0.16666666666666666)

In [132]:
stats.ttest_ind(reward_sd,reward_pl)

Ttest_indResult(statistic=-1.725968157035173, pvalue=0.08565095942787718)

In [133]:
stats.ttest_ind(reward_ud,reward_pl)

Ttest_indResult(statistic=-1.3327112976879407, pvalue=0.18390102784976173)

In [134]:
stats.ttest_ind(reward_ud,reward_sd)

Ttest_indResult(statistic=0.38973497207873337, pvalue=0.6970810650787552)

In [135]:
pd.DataFrame.to_csv(frame,'task1.csv')